{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONTEXT</title>
    <link rel="shortcut icon" href="{% static '/img/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static '/css/base.css' %}">
</head>
<body>
    <div class="super">
    <h1 class="base"> Welcome to
             
        <span>C</span>
        <span>O</span>
        <span>N</span>
        <span>T</span>
        <span>E</span>
        <span>X</span>
        <span>T</span>
    </h1>
    </div>
    <p class="base"> here is the context for you </p>
</body>
</html>